
<!-- footer -->
<footer class="footer">
	<div class="inner-wrap">
		<div class="footer-main-panel">
			<div class="logo-info-wrap">
				<div class="logo-wrap">
					<a href="" class="logo">
						<img src="./img/main/logo-footer.svg" alt="">
					</a>
				</div>
				<div class="logo-text-wrap">
					<p><b>Наша учебная платформа New Guru</b> - самая удобная платформа для интерактивного онлайн обучения. Вы занимаетесь у лучших преподавателей в любое время и в удобном для вас месте.</p>
				</div>
			</div>
			<div class="menu-inner-wrap">
				<ul class="menu">
					<li>
						<a href="" class="footer-title">Категории курсов</a>
						<ul>
							<li><a href="">Английский</a></li>
							<li><a href="">Немецкий</a></li>
							<li><a href="">Китайский</a></li>
						</ul>
					</li>
					<li>
						<a href="" class="footer-title">Информация</a>
						<ul>
							<li><a href="">Стать преподавателем</a></li>
							<li><a href="">Сотрудничество</a></li>
							<li><a href="">Помощь</a></li>
							<li><a href="">О сервисе</a></li>
						</ul>
					</li>
					<li>
						<ul>
							<li><a href="">Партнерская программа</a></li>
							<li><a href="">Договор оферты</a></li>
							<li><a href="">Сведения об организации</a></li>
							<li><a href="">Контакты</a></li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="form-inner-wrap">
				<div class="footer-title">Код сертификата</div>
				<form action="/" class="frm-main">
					<div class="field-input">
						<input type="text" class="form-input" placeholder="Введите код сертификата">
					</div>
					<div class="field-button">
						<button type="submit" class="btn">Проверить</button>
					</div>
				</form>
			</div>
		</div>
		<div class="footer-bottom-panel">
			<div class="pay-wrap">
				<div class="pay-title">К оплате принимаем</div>
				<div class="pay-items">
					<img src="./img/main/pays.svg" alt="">
				</div>
			</div>
			<div class="info-wrap">© NewGuru, 2023, <a href="">Политика конфиденциальности</a></div>
		</div>
	</div>
</footer>
<!-- /footer -->